body {
  background-color: gainsboro;
  color: blueviolet;
}

[aria-current="page"] {
  background-color: black;
  color: white;
}

#progress-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: gray;
  height: 4px;
}

#progress-bar::after {
  position: absolute;
  content: '';
  height: 100%;

  width: 0%;

  background-color: red;
}
